In [159]:
# Importando bibliotecas
import datetime as dt
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None)

In [117]:
# Armazenando os dados da tabela csv em um DataFrame pandas
folhosas = pd.read_csv('Folhosas.csv')
folhosas.head()

,Produto,Região,Preço,Dia,Mês,Ano,Data
0,Alface Americana,Mogi das Cruzes,"R$ 9,43",5,3,2013,2013-03-05 00:00:00
1,Alface Crespa,Mogi das Cruzes,"R$ 7,00",5,3,2013,2013-03-05 00:00:00
2,Alface Lisa,Mogi das Cruzes,"R$ 8,00",5,3,2013,2013-03-05 00:00:00
3,Alface Americana,Ibiúna,"R$ 8,00",5,3,2013,2013-03-05 00:00:00
4,Alface Crespa,Ibiúna,"R$ 5,50",5,3,2013,2013-03-05 00:00:00

In [118]:
folhosas_mogi = folhosas[folhosas['Região'] == "Mogi das Cruzes"]
folhosas_mogi.head()

,Produto,Região,Preço,Dia,Mês,Ano,Data
0,Alface Americana,Mogi das Cruzes,"R$ 9,43",5,3,2013,2013-03-05 00:00:00
1,Alface Crespa,Mogi das Cruzes,"R$ 7,00",5,3,2013,2013-03-05 00:00:00
2,Alface Lisa,Mogi das Cruzes,"R$ 8,00",5,3,2013,2013-03-05 00:00:00
6,Alface Americana,Mogi das Cruzes,"R$ 7,67",12,3,2013,2013-03-12 00:00:00
7,Alface Crespa,Mogi das Cruzes,"R$ 6,00",12,3,2013,2013-03-12 00:00:00

In [119]:
folhosas_ibiuna = folhosas[folhosas['Região'] == "Ibiúna"]
folhosas_ibiuna.head()

             Produto  Região    Preço  Dia  Mês   Ano                 Data
3   Alface Americana  Ibiúna  R$ 8,00    5    3  2013  2013-03-05 00:00:00
4      Alface Crespa  Ibiúna  R$ 5,50    5    3  2013  2013-03-05 00:00:00
5        Alface Lisa  Ibiúna  R$ 5,00    5    3  2013  2013-03-05 00:00:00
9   Alface Americana  Ibiúna  R$ 4,00   12    3  2013  2013-03-12 00:00:00
10     Alface Crespa  Ibiúna  R$ 4,00   12    3  2013  2013-03-12 00:00:00

In [139]:
# Armazenando os dados da tabela csv em um DataFrame pandas
inmet_sp = pd.read_csv('INMET\\SP_2013_2023.csv')
inmet_sp.head(24)

,Data,Média Precipitação Total (mm),Média Pressão Atmosférica (mB),Média Temperatura do Ar (°C),Média Umidade Relativa do Ar (%),Média Vento Velocidade (m/s)
0,2013-01-01 00:00:00,0.0,922.3,25.8,61,1.1
1,2013-01-01 00:00:00,0.0,922.6,30.6,42,3.6
2,2013-01-01 00:00:00,0.0,922.9,30.8,44,3.1
3,2013-01-01 00:00:00,0.0,923.0,26.2,57,4.1
4,2013-01-01 00:00:00,0.0,923.1,22.6,70,0.6
5,2013-01-01 00:00:00,0.0,923.3,22.4,74,0.4
6,2013-01-01 00:00:00,0.0,923.5,29.5,46,4.8
7,2013-01-01 00:00:00,0.0,923.6,22.7,70,2.5
8,2013-01-01 00:00:00,0.0,923.7,22.0,75,0.1
9,2013-01-01 00:00:00,0.0,923.7,22.5,73,1.1
10,2013-01-01 00:00:00,0.0,924.0,22.9,73,0.5
11,2013-01-01 00:00:00,0.0,924.0,29.4,45,4.7
12,2013-01-01 00:00:00,0.0,924.1,28.1,54,4.1
13,2013-01-01 00:00:00,0.0,924.2,27.1,59,5.1
14,2013-01-01 00:00:00,0.0,924.3,25.6,60,2.8
15,2013-01-01 00:00:00,0.0,924.4,22.1,74,2.4
16,2013-01-01 00:00:00,0.0,924.5,24.4,67,2.3
17,2013-01-01 00:00:00,0.0,924.6,23.4,66,2.2
18,2013-01-01 00:00:00,0.0,924.6,26.4,61,4.6
19,2013-01-01 00:00:00,0.0,924.7,24.3,67,0.2
20,2013-01-01 00:00:00,0.0,924.7,26.1,61,2.4
21,2013-01-01 00:00:00,0.0,925.7,24.4,70,0.4
22,2013-01-01 00:00:00,0.0,925.7,24.8,71,2.4
23,2013-01-01 00:00:00,0.0,925.9,24.2,70,0.3

In [142]:
# Limpeza de Outliers
inmet_sp = inmet_sp[(inmet_sp != -9999).all(axis=1)]
inmet_sp.loc[inmet_sp.eq(-9999).any(axis=1)]

Empty DataFrame
Columns: [Data, Média Precipitação Total (mm), Média Pressão Atmosférica (mB), Média Temperatura do Ar (°C), Média Umidade Relativa do Ar (%), Média Vento Velocidade (m/s)]
Index: []

In [143]:
# Agrupando dados por Data para descobrir a média diária de cada coluna
inmet_sp = inmet_sp.groupby(['Data']).mean()

# Resetando index para que a coluna Data não seja utilizada como tal
inmet_sp.reset_index(inplace=True)

In [166]:
folhosas_mogi['Data'] = pd.to_datetime(folhosas_mogi['Data'])

datas_mogi = folhosas_mogi['Data'].unique()
data_anterior = datas_mogi[0] - dt.timedelta(7)

C:\Users\caio.paulino\AppData\Local\Temp\ipykernel_13648\1140347266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  folhosas_mogi['Data'] = pd.to_datetime(folhosas_mogi['Data'])

UFuncTypeError: ufunc 'subtract' cannot use operands with types dtype('<M8[ns]') and dtype('O')

In [ ]:

resultados = pd.DataFrame()

for i in range(len(datas_mogi) - 1):
    intervalo_datas_mogi = inmet_sp[(inmet_sp['Data'] >= datas_mogi[i]) & (inmet_sp['Data'] <= datas_mogi[i+1])]

    inmet_folhosas_mogi = intervalo_datas_mogi.mean()
    
    inmet_folhosas_mogi['Data'] = datas_mogi[i+1]
    
    resultados = resultados.append(inmet_folhosas_mogi, ignore_index = True)

resultados.head(100)

In [133]:
nuppa_inmet = pd.merge(nuppa,inmet)

nuppa_inmet['Média Umidade Relativa do Ar (%)'] = nuppa_inmet['Média Umidade Relativa do Ar (%)'].str.replace(',','.').astype(float)

nuppa_inmet.dtypes

Arquivo                              object
Produtos                             object
Valor Comum                         float64
Valor Máximo                        float64
Valor Mediana                       float64
Valor Médio                         float64
Valor Mínimo                        float64
Semana                                int64
Dia                                   int64
Mês                                   int64
Ano                                   int64
Data                                 object
Média Precipitação Total (mm)       float64
Média Pressão Atmosférica (mB)      float64
Média Temperatura do Ar (°C)        float64
Média Umidade Relativa do Ar (%)    float64
Média Vento Velocidade (m/s)        float64
dtype: object

In [137]:
nuppa_inmet['Média Precipitação Total (mm)'] = nuppa_inmet['Média Precipitação Total (mm)'].round(4)
nuppa_inmet['Média Pressão Atmosférica (mB)'] = nuppa_inmet['Média Pressão Atmosférica (mB)'].round(3)
nuppa_inmet['Média Temperatura do Ar (°C)'] = nuppa_inmet['Média Temperatura do Ar (°C)'].round(2)
nuppa_inmet['Média Umidade Relativa do Ar (%)'] = nuppa_inmet['Média Umidade Relativa do Ar (%)'].round(2)
nuppa_inmet['Média Vento Velocidade (m/s)'] = nuppa_inmet['Média Vento Velocidade (m/s)'].round(2)

nuppa_inmet['Média Umidade Relativa do Ar (%)'] = nuppa_inmet['Média Umidade Relativa do Ar (%)'].astype(str) + '%'

nuppa_inmet.head()

,Arquivo,Produtos,Valor Comum,Valor Máximo,Valor Mediana,Valor Médio,Valor Mínimo,Semana,Dia,Mês,Ano,Data,Média Precipitação Total (mm),Média Pressão Atmosférica (mB),Média Temperatura do Ar (°C),Média Umidade Relativa do Ar (%),Média Vento Velocidade (m/s)
0,01_22,Abobrinha Italiana,90.0,120.0,90.0,94.29,80.0,1,24,3,2022,2022-03-24 00:00:00,0.0,925.846,23.93,71.25%,1.94
1,01_22,Acelga,35.0,60.0,50.0,42.50,35.0,1,24,3,2022,2022-03-24 00:00:00,0.0,925.846,23.93,71.25%,1.94
2,01_22,Agrião,60.0,60.0,60.0,60.00,60.0,1,24,3,2022,2022-03-24 00:00:00,0.0,925.846,23.93,71.25%,1.94
3,01_22,Alface Americana,36.0,42.0,39.0,39.00,36.0,1,24,3,2022,2022-03-24 00:00:00,0.0,925.846,23.93,71.25%,1.94
4,01_22,Alface Crespa,20.0,30.0,25.0,25.00,20.0,1,24,3,2022,2022-03-24 00:00:00,0.0,925.846,23.93,71.25%,1.94

In [138]:
inmet = nuppa_inmet.loc[:, 'Data':'Média Vento Velocidade (m/s)']
inmet.to_csv('INMET_SP_2022_2023_filtered.csv', index = 0)